   <h1>Welcome to Tweeter, <%= @user.name %></h1>
    <p>
      You have successfully signed up to tweeter.com,
      your username is: <%= @user.username %>.<br/>
    </p>
    <p>
      To login to the site, just use your email <%= @user.email %> <br/>
     
    </p>
    <p>Thanks for joining and have a great day!</p>